@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway&display=swap");
body {
  background-color: #c1e8f9;
}
.app {
  display: flex;
  flex-direction: column;

  .header {
    margin: 0 7px 0;
    font-size: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background: #fff;
    border: 3px solid black;
    border-radius: 4px;
  }
  .body {
    margin: 0 7px;

    .mapandbar {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
      .map {
        flex: 2;
        height: 65vh;
        min-height: 400px;
      }
      .sidebar {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
        padding: 0 12px;
        background: #e9ecf5;
        border: 2px solid black;
        border-top: 0px;
        @media screen and (min-width: 768px) {
          padding: 0 25px;
          max-height: 65vh;
        }
      }
    }
    .options {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 12px;
      font-size: 25px;
      overflow: hidden;
    }
    .input {
      font-size: 20px;
    }
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  line-height: 72px;
  @media screen and (min-width: 768px) {
    font-size: 80px;
    line-height: 96px;
  }
}
h3 {
  font-family: "Montserrat", sans-serif;
}
label {
  font-family: "Montserrat", sans-serif;
  margin-right: 12px;
}
p {
  font-family: "Raleway", sans-serif;
}
